@{
    ViewBag.Title = "Home Page";
}

<main class="p-4">
    <section class="row rounded-3 text-center" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle" class="text-primary">Pizzeria In Forno</h1>
        <p class="lead">Pizze tutto sommato ok</p>

    </section>
    <div>
        <section aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle" class="text-primary">Effettua il login</h2>
            <p>Registrati o fai il Login</p>
            <div class=" text-center ">
                <a class="btn btn-outline-primary" href="/Home/Login">Login</a>
                <a class="btn btn-outline-primary" href="/Home/register">Registrati</a>
            </div>
        </section>
        <section aria-labelledby="librariesTitle">
            <h2 id="librariesTitle" class="text-primary">Inserisci i tuoi dati personali:</h2>
            <p><a class="btn btn-outline-dark" href="/home/CreateCliente">Clicca qui</a></p>
        </section>

    </div>
